<header>
  <a href="{{ site.baseurl }}/" class="website-title">
    {% if site.logo-image %}
      <img alt="{{ site.name }}" src="{{ site.baseurl }}{{ site.logo-image }}">
    {% else %}
      {% assign words = site.name|split:' ' %}
      {% for item in words %}
        <span class="p{{ forloop.index }}">{{ item }}</span>
      {% endfor %}
    {% endif %}

  </a>
  {% include navigation.html %}
  {% if page.home and site.show-subtitle or page.home and site.display-social-icons %}
{% include subtitle.html %}
  {% endif %}
</header>
